# Global wildcards
*~
*.[7bgx]z
*.aps
*.bak
*.cab
*.dll
*.exe
*.fla
#*.[Hh]x[IiSs]
*.hx[is]
*.[jrt]ar
*.log
*.ms[imp]
*.ncb
*.obj
*.old
*.opensdf
*.orig
*.pdb
*.Publish.xml
*.sav
*.sdf
*.sln.cache
*.suo
*.tgz
*.tmp
*.user
*.zip

# Environment variables
.env

# SQLite
*.db
*.db3
*.sqlite
*.sqlite3
*.*-journal
*.*-shm
*.*-wal

# Well-known infrastructure folders
/artifacts/
/packages/
/target/
node_modules/

# IDEs
.idea/
.metadata/
.settings/
.vs/
.vscode/
ipch/
*.iml
*.userprefs

# Operating systems generated
__MACOSX/
*.DS_Store
[Dd]esktop.ini
[Tt]humbs.db

# Task files
tasks.json
tasks/

# AI
.claude/
.cursor/
.specify/

# TBunny specific
config/
dist/
docs/

# TBunny
config/
dist/
docs/